.App {
  text-align: center;
}
.div-mentandstu{
  margin: 15px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: grey -1px 0px 4px 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 2px;
  transition: all .1s;
  cursor: pointer;
}
.div-mentandstu:hover{
  transform: scale(1.1);
}
.mentandstu{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.div-mentor{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    box-shadow: grey 2px 0px 3px 1px;
    gap: 5px;
    margin: 15px;
    margin-left: 100px;
    margin-right: 100px;
    transition: all .3s;
  cursor: pointer;
}
.div-mentor:hover{
  transform: scale(1.1);
}
.edit-but{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 20px;
}
.but-add-mentor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.add-mentor{
  display: flex;
  flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 90px;
    gap: 20px;
}